
// main-block
.main-block {
    @include adaptive("padding-top", 31, 10);
    @include adaptive("padding-bottom", 72, 10);
    &__container {
        
        display: grid;
        align-items: start;
        row-gap: rem(40);
        position: relative;
        column-gap: rem(20);
        @media (min-width: $tablet) {
            grid-template-columns: 1fr prc(438, 1280);

        }
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
            column-gap: 0;
        }
    }

    &__content {
        padding-top: rem(65);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        @media (max-width: $tablet) {
            padding-top: 0;

        }
        @media (max-width: $mobile) {
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        
    }

    &__title {
        line-height: math.div(55, 48);
        font-weight: 700;
        color: $dark1;
        @include adaptive("font-size", 48, 24);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    &__text {
        @include adaptive("font-size", 14, 12);
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
        max-width: prc(475, 733);
        @media (max-width: $mobile) {
            max-width: 90%;
        }
    }

    &__btn {
    }

    &__media {
    }

    &__advantages {
    }
}
.media-block {
    position: relative;
    &__image {
        img {
            max-width: 100%;
            position: relative;
            @media (max-width: $mobile) { 
                opacity: 0.4;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        

    }
    @media (max-width: $mobile) {
        position: absolute;
        z-index: -3;
        width: 100%;
        height: 100%;

        
    }

    &__label {
        width: rem(145);
        height: rem(145);
        position: absolute;
        z-index: 5;
        right: prc(67, 438);
        top: prc(-76, 488);
        background: url('@img/mainpage/mainblock/decoration.svg');
        padding: rem(17);
        @media(max-width: $mobile) {
            position: relative;
            left: 50%;
            transform: translate(-50%);
            top: 0;
            &:not(:last-child) {
                margin-bottom: rem(16);
            }
            
        }
    }
}
.label__body {
    font-size: rem(14);
    line-height: math.div(16, 14);
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    span {
        font-size: rem(16);
        line-height: math.div(18, 16);
        font-weight: 700;
        margin-bottom: rem(3);
        max-width: rem(76);
    }


}
.advantages {

    grid-column: 1 / span 2;
    justify-self: end;
    &__body {
        padding: em(32,16) em(48, 16);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(32);
        max-width: rem(712);
        background: #F4F7FA;
        border-radius: rem(10);
        box-shadow: 0px rem(4) rem(100) rgba(208, 218, 227, 0.57);
        
        @media(max-width: $mobile) {
            max-width: 100%;
            grid-template-columns: repeat(1, 1fr);
            
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: rem(8);
        justify-content: flex-start;
        @media(max-width: $mobile) {
            text-align:center ;  
            align-items: center;
        }
        @media(max-width: $mobileSmall) {
            align-items:center;   
            
        }
    }

    &__icon {
        max-width: rem(43);
        img {
            width: 100%;
        }
    }

    &__descr {
        font-size: rem(16);
        font-weight: 600;
        color: $mainDark;
        line-height: math.div(26, 16);
    }

    @media(max-width: $mobile) {
        justify-self: center;
        
    }

    @media(max-width: $mobileSmall) {
        grid-column: 1 / span 2;
        justify-self: center;
    }

}
// service-block
 
.service-block {
    @include adaptive("padding-top", 72, 10);
    @include adaptive("padding-bottom", 72, 10);
    &__container {
        display: grid;
        @include adaptive("column-gap", 40, 20);

        @media (min-width: $tablet) {
            grid-template-columns: prc(375, 1062) prc(550, 1062);
            justify-content: space-between;
        }
        @media (max-width: $tablet) {
            grid-template-columns: 1fr;
        }
    }

    &__content {
    }

    &__items {
    }

    &__support {
    }
    @media (min-width: $tablet) {
        @include adaptive("padding-right", 111, 0, 1440, 991);
        @include adaptive("padding-left", 111, 0, 1440, 991);
 
    }
}
.content-service {
    padding-right: rem(20);
    padding-top: rem(31);
    &__logo {
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
        @include adaptive("font-size", 32, 24);
    }

    &__text {
        @include adaptive("font-size", 14, 12);
        
        @media (max-width: $tablet) {
            max-width: 80%;
        }
        @media (max-width: $mobile) {
            max-width: 100%;
        }
    }
    @media (max-width: $tablet) {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        &:not(:last-child) {
            @include adaptive("margin-bottom", 40, 24);
        }
    }
}
.items-service {
    justify-self: end;
    align-self: start;
    &__body {
        display: grid;
        @include adaptive("gap", 25, 16);
        grid-template-columns: repeat(2, minmax(auto, rem(220)));
    }

    &__item {
    }
    @media (min-width: $tablet) {
        @include adaptive("padding-right", 113, 0, 1440, 1200);
    }
    @media (max-width: $tablet) {
        justify-self: center;
    }
}
.item-service {
    background: linear-gradient(236.29deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
    box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
    border-radius: rem(10);
    @include adaptive("padding", 32, 16);

    &__title {
        font-size: rem(48);
        line-height: math.div(44,48);
        font-weight: 700;
        background: -webkit-linear-gradient(-90deg, #4614E8 0%, #BCA7FF 100%),
        -webkit-linear-gradient(-90deg, #7247FF, #7247FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:not(:last-child) {
            margin-bottom: rem(15);
            @include adaptive("margin-bottom", 15, 5, 1440, 992);
        }
        span {
            font-size: rem(16);
            @include adaptive("font-size", 16, 10);
            margin-left: -5%;
        }
        &_sirius {
            font-size: rem(16);
            text-transform: uppercase;
            letter-spacing: 0.17em;
            line-height: math.div(44,16);
            @include adaptive("font-size", 16, 10, 767.98, 320);
        }
        &_top-right, &_bottom-left {
            font-size: rem(36);
            line-height: math.div(44,36);
            @include adaptive("font-size", 36, 32);
        }
        &_top-left {
            &:not(:last-child) {
                @include adaptive("margin-bottom", 30, 5);
            }
            @include adaptive("font-size", 48, 32);
        }
    }

    &__descr {
        font-size: rem(14);
        line-height: math.div(21, 14);
        color: $dark2;
        font-size: rem(14);
        @include adaptive("font-size", 14, 10, 767.98, 320);
        &_1 {
            padding-right: prc(41, 217);
        }

       
    }

    &:first-child {
        align-self: end;
        justify-self: end;
        
    }

    &:nth-child(2) {
        position: relative;
        justify-self: start;
        align-self: end;
        max-width: rem(190);
        &::before {
            content: '';
            background: url('@img/mainpage/service/circle.png');
            width: rem(159);
            height: rem(159);
            position: absolute;
            z-index: -2;
            right: prc(-33, 179);
            top: prc(-50, 135);
        }

    }
    &:nth-child(3) {
        justify-self: end;
        align-self: start;
        position: relative;
        max-width: rem(190);
        &::before {
            content: '';
            background: url('@img/mainpage/service/circle.png') no-repeat center center / cover;
            width: rem(39);
            height: rem(39);
            position: absolute;
            z-index: -2;
            left: prc(-13,170);
            top: prc(-15,135);
        }
    }

    &:nth-child(4) {
        justify-self: left;
        align-self: start;
        position: relative;
        &::before {
            content: '';
            background: url('@img/mainpage/service/circle.png') no-repeat center center / cover;
            width: rem(25);
            height: rem(25);
            position: absolute;
            z-index: -2;
            left: prc(-13, 171);
            top: prc(30,192);
        }
    }

}
.support-service {
    
    padding-top: rem(48);
    &__title {
        font-size: rem(16);
        line-height: math.div(24, 16);
        text-align: center;
        color: $mainDark;
        font-weight: 700;
        &:not(:last-child) {
            margin-bottom: rem(31);
        }
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
        gap: rem(16);

    }

    &__item {
    }
    @media (min-width: $tablet) {
        grid-column: 1 / span 2;
    }
}
.item-support {
    background-color: #FFFFFF;
    border-radius: rem(10);
    padding: rem(32);
    @include adaptive("padding", 32, 24, 768, 320);
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon {
        max-width: rem(159);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
        img {
            width: 100%;
        }
    }

    &__title {
        font-size: rem(16);
        line-height: math.div(24, 16);
        color: $mainDark;
        font-weight: 700;
        align-self: flex-start;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
        @media (max-width: $tablet) {
            align-self: center;
            @include adaptive("font-size", 16, 14, 992, 320);
        }
    }

    &__text {
        font-size: rem(14);
        line-height: math.div(24, 14);
        color: $dark2;
        padding-right: rem(10);
        @include adaptive("font-size", 14, 12, 992, 320);
    }
    @media (max-width: $tablet) {
        text-align: center;
        justify-content: center;
    }
}

// benefits

.benefits-block {
    @include adaptive("padding-top", 72, 10);
    @include adaptive("padding-bottom", 72, 10);
    &__container {
 
    }

    &__body {
        display: grid;

        @media (min-width: $tablet) {
            grid-template-columns: prc(362, 1280) minmax(prc(438, 1280), 1fr) prc(326, 1280);
            @include adaptive("column-gap", 77, 10, 1440, 992);
            row-gap: rem(60);
        }
        grid-template-columns: repeat(1, 1fr);
        row-gap: rem(32);
    }

    &__title {
        text-align: center;
        @include adaptive("font-size", 32, 24);
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }

    &__media {

    }

    &__sirius {
    }

    &__adv {
    }

    &__items {
    }
}

.media-benefits {
    position: relative;
    &__image {
        z-index: -3;
        max-width: rem(219);
        position: relative;
        img {
            width: 100%;
        }

        @include adaptive("left", 109, 0, 1440, 992);
        top: rem(20);
        @media (min-width: $tablet) { 
            position: absolute;
        }
    }

    &__help {
        background: linear-gradient(326.06deg, #F0EBFF 11.53%, #FFFFFF 74.32%);
        box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.78);
        border-radius: rem(12);
        font-size: rem(12);
        line-height: math.div(16,12);
        color: #000000;
        font-weight: 500;
        text-align: center;
        padding: rem(19);
        display: flex;
        width: rem(200);
        flex-direction: column;
        align-items: center;
        position: absolute;
        @media (min-width: $tablet) {
            @include adaptive("right",-60, 60, 1440, 992);
        }
        right: prc(-60, 410);
        top: prc(-20, 410);

    }

    &__btn {
        background: linear-gradient(326.06deg, #784DFF 11.53%, #4614E8 74.32%);
        border-radius: rem(8);
        font-size: rem(12);
        line-height: math.div(14, 12);
        text-align: center;
        color: #FFFFFF;
        margin-top: rem(7);
        padding: em(16,12) em(23,12);
        transition: all .3s ease 0s;
        cursor: pointer;
        @media (any-hover: hover) {
            &:hover {
                box-shadow: rem(0) rem(6) rem(10) rgba(70, 20, 232, 0.25);
            }
            
        }
    }
    @media (max-width: $tablet) {
  
        justify-self: center;
    }
}
.sirius-benefits {

    &__title {
        font-size: rem(16);
        line-height: math.div(44,16);
        letter-spacing: 0.17em;
        color: #34449C;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__text {
        font-size: rem(14);
        line-height: math.div(21,14);
        color: $dark2;
        @include adaptive("font-size", 14, 12);
    }
    @media (min-width: $tablet) {
        padding-top: rem(26);
    }
}
.sirius {

    &__benefits {
    }
}
.adv-benefits {

    
    &__list {
    }

    &__item {
        position: relative;
        padding-left: rem(24);
        font-size: rem(14);
        line-height: math.div(21, 14);
        color: $dark2;
        @include adaptive("font-size", 14, 12);
        &:not(:last-child) {
            @include adaptive("margin-bottom", 24, 5);
            //margin-bottom: rem(24);
        }
        &::before {
            position: absolute;
            content: '\e903';
            @extend %ic;
            color: #2840CD;
            font-size: rem(12);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    @media (min-width: $tablet) {
        padding-top: rem(62);
        @include adaptive("padding-right", 30, 0, 1440, 992);
        //padding-right: rem(30);
    }
}
.items-benefits {
   
    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(236), 1fr));
        gap: rem(19);
    }

    &__item {
    }
    @media (min-width: $tablet) {
        grid-column: 1 / span 3;
    }
}
.item-benefits {
    background: linear-gradient(236.29deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
    box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
    border-radius: rem(20);
    padding: rem(32);
    &__icon {
        max-height: rem(70);
        img {
            height: 100%;
        }
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    &__title {
        font-size: rem(16);
        line-height: math.div(20,16);
        color: $dark2;
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
        @include adaptive("font-size", 16, 14);
    }

    &__text {
        @include adaptive("font-size", 14, 12);
        line-height: math.div(21,14);
        color: $dark2;
    }
}


